/* BODY STYLES */
html {
  font-size: 8px;
}

body,
.body {
  color: #7f8c8d;
  font-family: "Roboto Mono", Courier New, Courier, monospace;
}

.body--flex {
  display: flex;
  justify-content: center;
}

.container {
  max-width: 640px;
  margin: 20px 0;
  padding: 0 20px;
}

/* HEADERS */
.header {
  font-weight: 900;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0.5px;
}

.header--h1 {
  font-size: 5rem;
  font-style: italic;
  background-color: #2980b9;
  color: #fff;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .header--h1 { 
    font-size: 8rem;
  }
}

.header--h3 {
  color: #2980b9;
  font-size: 4rem;
  margin: 5rem 0 0.5rem;
  padding: 0;
}

.header--italic {
  font-style: italic;
}

/* BODY FONTS */
.paragraph {
  font-size: 1.75rem;
  line-height: 3rem;
  margin: 0 0 1rem;
}

.span--emphasis {
  color: #212121;
  font-weight: 700;
  /*text-transform: uppercase;*/
}

/* LINKS */
.link,
.link:hover,
.link:active,
.link:visited {
  color: #212121;
  cursor: pointer;
  text-decoration: underline;
}

/* IMAGES */
img,
.image {
  display: block;
  width: 100%;
  height: auto;
}

.image--padding {
  margin: 20px 0;
}

/* NAV */
.nav {
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-size: 1.75rem;
  padding-bottom: 3rem;
}

@media screen and (min-width: 768px) {
  .nav { 
    flex-direction: row;
  }
}

.nav__link,
.nav__link:hover,
.nav__link:active,
.nav__link:visited {
  color: #212121;
  cursor: pointer;
  padding-right: 2rem;
}

/* FORM */
.form {

}

.form--stacked {
  display: flex;
  flex-direction: column;
}

.form__button,
.form__field {
  border: thin solid #bdc3c7;
  border-radius: 4px;
  margin: 1rem 0;
  padding: 2rem;
}

.form__field {
  font-family: "Roboto Mono", Courier New, Courier, monospace;
  font-size: 1.75rem;
}

.form__button {
  background-color: #2980b9;
  color: #fff;
  font-family: "Work Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 3rem;
  font-weight: 900;
}

/* CUSTOM STYLES */
.button--blue {
  color: #fff;
  background-color: #2980b9;
}
.footer__image {
  display: block;
  height: 50px;
  width: auto;
  margin: 0 auto;
  animation: stop-rotate-stop 10s ease-in-out infinite;
}

@keyframes stop-rotate-stop {
  45% {
    transform: rotate(0deg);
  }

  65% {
    transform: rotate(-1800deg);
  }
  
  100% {
    transform: rotate(-1800deg);
  }
}
