<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>createMarkedFile</key>
	<false/>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>2016-04-04-aa-w8d5.md</string>
		</array>
		<array>
			<string>2017-01-28-the-thrill-of-the-fight.md</string>
		</array>
		<array>
			<string>2017-01-31-what-democracy-looks-like.md</string>
		</array>
	</array>
</dict>
</plist>
