html {
  font-size: 10px;
}

body {
  background: #fff;
  font-family: "Roboto", Helvetica, sans-serif;
  font-weight: 300;
}

h1, h2, h3 {
  font-weight: 300;
}

h4, h5, h6 {
  font-weight: 300;
}

h2 {
  font-size: 3.2rem;
  text-align: center;
}

h4 {
  padding: 0 20px;
  font-size: 1.8rem;
  line-height: 2.8rem;
  text-align: center;
}

.wrapper {
  max-width: 840px;
  margin: 0 auto;
  padding: 0 20px;
}

.wrapper.flex {
  display: flex;
  justify-content: space-between;
}

.navbar {
  background: #fff;
  padding: 20px 0;
}

.logo {
  width: 200px;
  height: auto;
}

.hero {
  display: flex;
  justify-content: center;
  min-height: 420px;
  background-image: url("/images/techscholar/hero-working-laptop.jpg");
  background-size: cover;
  padding: 40px;
  color: #fff;
}

.form-overlay {
  padding: 40px;
  background-color: rgba(0, 0, 0, 0.6);;
  border-radius: 4px;
  width: 60%;
  max-width: 480px;
}

.form-overlay input {
  display: block;
  width: calc(100% - 30px);
  height: 40px;
  margin: 20px 0;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 4px;
  border: none;
  font-size: 1.6rem;
}

.form-overlay button {
  width: 100%;
  padding: 15px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(to bottom, #ffa13f, #f98a17);
  color: #fff;
  font-weight: 300;
  font-size: 1.8rem;
}

.form-overlay .micetype {
  margin: 0 auto;
  padding-top: 15px;
  color: #fff;
  font-size: 1.3rem;
  text-align: center;
}

.form-overlay h2 {
  margin-top: 0;
  margin-bottom: 15px;
}

.form-overlay h4 {
  margin-top: 0;
  margin-bottom: 30px;
}
